<section>

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
    <%= link_to "Go to Admin Products", admin_products_path, class: 'btn btn-outline-info' %> 
  </div>

  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Category</td>
          <td><%= @category_count%></td>
        </tr>
        <tr>
          <td>Product</td>
          <td><%= @product_count%></td>
        </tr>
      </tbody>
    </table>
  </div>



</section>